* {
    --primary-color: #147484; 
    --primary-color-light: #AEDBCB;

    --secondary-color: #289F73; 
    --secondary-color-light: #E9FBF5;

    --thrid-color:#E9FBF5;
}
@media(max-width:1200px){
.card-container{
    width: unset;
}
.card-con-flex{ 
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.card-of-blog{
    justify-content: center;
    width:18em;
    height: 13em;
}
.date-of-blog{
    font-size: 8px
}
.title-of-blog{
    font-size:10px ;
}
.notification-gif img{
    width:20em ;
}
.stay-tune-con h1{
    margin-top: 100px;
    font-size: 25px;
}
.stay-tune-con p{
    font-size: 13px;
    margin: 15px 0;
}
.stay-tune-con input{
    width: 350px;
    height: 40px;
    padding-left: 50px;
    font-size: 15px;
}
.envelope{
    width: 30px;
    left: 10px;
    top: 5px;
}
.submit{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.footer-con h2{
    font-size: 18px;
}   
.right-footer a{
    font-size: unset;
}
}
@media(max-width:999px){
    .top-header-con{
        justify-content: unset;
    }
    .right-header{
      margin-left: 15vw;
    }
    .card-con-flex{
        padding: unset;
    }
    .card-of-blog{
        width:15em;
        height: 13em;
    }
    .date-of-blog{
        font-size: 0.9vw;
    }
    .title-of-blog{
        font-size: 1vw;
    }
    .notification-gif img{
        width:15em ;
    }
    .stay-tune-con h1{
        margin-top: 2em;
        font-size: 15px;
    }
    .stay-tune-con p{
        font-size: 10px;
        margin: 10px 0;
    }
}
@media(max-width:899px){
    .container{
        min-width: unset;
    }
    .card-container{
        width: min-content;
    }
    .card-con-flex{
        grid-template-columns: auto auto;
    }
    .card-of-blog{
       width:40vw;
       height: 30vw;
    }
    .date-of-blog{
        font-size: 2vw;
    }
    .title-of-blog{
        font-size: 2vw;
    }
    .right-header{
    display: none;
    }
    .top-header-con{
        justify-content: space-between;
    }
    label{
    display: block;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    }
    label .arrowmenu{
    display: none;
    }
    label img{
    padding-bottom: 5px;
    padding-left: 15px;
    }
    .bottom-header{
        display: none;
    }

    /* #region Sidebar Menu */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: white;
            padding-top: 0;
            z-index: 99999;
            box-sizing: border-box;
            overflow: auto;
        }
        
        .sidebar-list {
            padding: 24px;
        }
        
        .sidebar-list .sidebar-item{
            border-bottom: 1px solid var(--primary-color-light);
            height: 60px;
        }

        .sidebar .back-button{
            position: sticky;
            top: 0;
            display: flex;
            justify-content: end;
            background-color: white;
            padding: 16px 24px;
            padding-bottom: 0;
        }

        .back-button img{
            cursor: pointer;
        }

    /* #endregion */
}
@media(max-width:650px){
    .notification-gif img{
        width:10em;
    }
    .stay-tune-con h1{
        margin-top: 1em;
    }
    .stay-tune-con p{
        font-size: 10px;
        margin: 5px 0;
    }
    .stay-tune-con input{
        height: 10px;
        padding-left: 40px;
    }
    .stay-tune-con img{
        width: 25px;
    }
    .stay-tune-con button{
        height:30px;
        width: 100px;
        font-size: 15px;
    }
    .footer-con{
        flex-direction: column-reverse;
        justify-content: space-evenly; 
    }
    .footer-con h2{
      font-size: 25px;
      margin-left: 25px;
    }
    .right-footer a{
        font-size: 20px;
        margin: 0 10px;
    }
}
@media(max-width:550px){
    .card-con-flex{
        grid-template-columns: auto;
    }
    .card-of-blog{
       width:80vw;
       height: 55vw;
    }
    .date-of-blog{
        font-size: 3vw;
    }
    .title-of-blog{
        font-size: 4vw;
    }
    .subscribe-us-con{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stay-tune-con{
        margin-bottom: 40px;
    }
    .notification-gif img{
        width: 15em;
    }
    .stay-tune-con h1{
        font-size: 32px;
    }
    .stay-tune-con p{
        font-size: 12px;
    }
    .stay-tune-con input{
        width: 300px;
        font-size: 14px;
        height: 50px;
        padding-left: 50px;
    }
    .stay-tune-con img{
        top: 13px;
        width: 26px;
    }
    .stay-tune-con button{
        margin-top: 5px;
        height:50px;
        width: 300px;
        font-size: 24px;
    }

    .footer-con h2{
      font-size: 16px;
      margin-left: 10px;
    }
    .right-footer a{
        font-size: 14px;
    }
}
@media(max-width:400px){
    .top-header-con h1{
        font-size: 16px;
    }
    label img{
       width: 40px;
    }
}