* {
    --primary-color: #147484; 
    --primary-color-light: #AEDBCB;

    --secondary-color: #289F73; 
    --secondary-color-light: #E9FBF5;

    --thrid-color:#E9FBF5;
}
@media(max-width:1200px){
.card-container{
    width: unset;
}
.card-con-flex{ 
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.card-of-blog{
    justify-content: center;
    width:18em;
    height: 13em;
}
.date-of-blog{
    font-size: 10px;
}
.blog-title-medium{
    font-size:15px;
}
.notification-gif img{
    width:20em ;
}
.stay-tune-con h1{
    margin-top: 100px;
    font-size: 25px;
}
.stay-tune-con p{
    font-size: 13px;
    margin: 15px 0;
}
.stay-tune-con input{
    width: 350px;
    height: 40px;
    padding-left: 50px;
    font-size: 15px;
}
.envelope{
    width: 30px;
    left: 10px;
    top: 5px;
}
.submit{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.footer-con h2{
    font-size: 18px;
}   
.right-footer a{
    font-size: unset;
}
/* #region BLOG CONTENT */

/* .content-container{
    background-color:cadetblue;
} */
.left-content{
    width: 300vw;
}
.blog-image-large{
    height: 25em;
}
.blog-title-small{
    font-size: 1.5vw;

}
.blog-small-con .blog-date{
    font-size: 12px;
}
/* #endregion */
}
@media(max-width:999px){
    .right-header{
      margin-left: 15vw;
    }
    .card-con-flex{
        padding: unset;
    }
    .card-of-blog{
        width:15em;
        height: 13em;
    }
    .date-of-blog{
        font-size: 0.9vw;
    }
    .blog-title-medium{
        font-size: 1vw;
    }
    .notification-gif img{
        width:15em ;
    }
    .stay-tune-con h1{
        margin-top: 2em;
        font-size: 15px;
    }
    .stay-tune-con p{
        font-size: 10px;
        margin: 10px 0;
    }
    /* #region BLOG CONTENT */
    .right-content{
        display: none;
    }
    .left-content{
        margin-right: unset;
    }
    /* #endregion */
}
@media(max-width:899px){
    .container{
        min-width: unset;
    }
    .card-container{
        width: min-content;
    }
    .card-con-flex{
        grid-template-columns: auto auto;
    }
    .card-of-blog{
       width:40vw;
       height: 30vw;
    }
    .date-of-blog{
        font-size: 2vw;
    }
    .blog-title-medium{
        font-size: 2vw;
    }
    .right-header{
        display: none;
    }
    .top-header-con{
        position: relative;
        justify-content: space-between;
        height: 70px;
        overflow: hidden;
    }

    .top-header-con .clear.visible{
        position: absolute;
        right: 65px;
        bottom: 50%;
        transform: translateY(50%);
        display: block;
    }

    .top-navbar{
        display: flex;
        column-gap: 16px;
        font-size: 50px;
        position: absolute;
        right: 20px;
        transition: all 0.3s;
    }

    .top-navbar .arrowmenu{
        display: none;
    }

    .bottom-header{
        display: none;
    }

    .top-header-con h1{
        position: absolute;
        left: 20px;
        transition: all 0.2s linear;
        z-index: 10;
    }

    .top-header-con .search-input-mobile{
        display: block;
        position: absolute;
        right: 90px;
        height: 25px;
        width: 0;
        background-color: white;
        border: none;
        border-bottom: 1px solid var(--secondary-color);
        padding: 0;
        transition: all 0.3s;
    }

    /* #region Search Click Transition */
    .top-header-con h1.hidden{
        position: absolute;
        left: calc(20px - 100vw);
    }

    .top-header-con .top-navbar.hidden{
        gap: 50px;
        position: absolute;
        right: -50px;
    }

    .top-header-con .search-input-mobile.show{
        right: 60px;
        padding: 5px;
        width: calc(100% - 90px)
    }

/* #endregion */

    /* #region Sidebar Menu */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            display: block;
            width: 100vw;
            height: 100vh;
            background-color: white;
            padding-top: 0;
            z-index: 99999;
            box-sizing: border-box;
            overflow: auto;
            transition: transform 0.25s ease-out;
        }

        .sidebar.open{
            transform: translateX(0vw);
        }
        
        .sidebar.close{
            transform: translateX(100vw)
        }

        .sidebar-list {
            padding: 24px;
        }
        
        .sidebar-list .sidebar-item{
            border-bottom: 1px solid var(--primary-color-light);
            height: 60px;
        }

        .sidebar .back-button{
            position: sticky;
            top: 0;
            display: flex;
            justify-content: end;
            background-color: white;
            padding: 16px 24px;
            padding-bottom: 8px;
        }

        .back-button img{
            cursor: pointer;
        }

    /* #endregion */
}
@media(max-width:650px){
    .notification-gif img{
        width:10em;
    }
    .stay-tune-con h1{
        margin-top: 1em;
    }
    .stay-tune-con p{
        font-size: 10px;
        margin: 5px 0;
    }
    .stay-tune-con input{
        height: 10px;
        padding-left: 40px;
    }
    .stay-tune-con img{
        width: 25px;
    }
    .stay-tune-con button{
        height:30px;
        width: 100px;
        font-size: 15px;
    }
    .footer-con{
        flex-direction: column-reverse;
        justify-content: space-evenly; 
    }
    .footer-con h2{
      font-size: 25px;
      margin-left: 25px;
    }
    .right-footer a{
        font-size: 20px;
        margin: 0 10px;
    }
}
@media(max-width:550px){
    .card-con-flex{
        grid-template-columns: auto;
    }
    .card-of-blog{
       width:80vw;
       height: 55vw;
    }
    .date-of-blog{
        font-size: 3vw;
    }
    .blog-title-medium{
        font-size: 4vw;
    }
    .subscribe-us-con{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stay-tune-con{
        margin-bottom: 40px;
    }
    .notification-gif img{
        width: 15em;
    }
    .stay-tune-con h1{
        font-size: 32px;
    }
    .stay-tune-con p{
        font-size: 12px;
    }
    .stay-tune-con input{
        width: 300px;
        font-size: 14px;
        height: 50px;
        padding-left: 50px;
    }
    .stay-tune-con img{
        top: 13px;
        width: 26px;
    }
    .stay-tune-con button{
        margin-top: 5px;
        height:50px;
        width: 300px;
        font-size: 24px;
    }

    .footer-con h2{
      font-size: 16px;
      margin-left: 10px;
    }
    .right-footer a{
        font-size: 14px;
    }
}
@media(max-width:400px){
    .top-header-con h1{
        font-size: 16px;
    }
}