
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&family=Josefin+Sans:wght@300;400;600;700&family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;1,100;1,300;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

/* #region Global */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    --primary-color: #147484; 
    --primary-color-light: #AEDBCB;

    --secondary-color: #289F73; 
    --secondary-color-light: #E9FBF5;

    --thrid-color:#E9FBF5;
}
.container{
    margin: 0 auto;
    max-width: 1500px;
    min-width: 950px;

}
/* body{
    margin: 0;
    background-image: url(src/assets/images/doddle.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-position: center;
} */
button{
    cursor: pointer;
}
.bg{
    background-image: url(src/assets/images/doddle.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-position: center;
}
.opacity{
     background-color:white;
     opacity: 95%;
     width: 100%;
     min-height:100vh;
}
/* #endregion */


/* #region Top Header */
.top-header-con{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
}
.top-header-con h1{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 24px;
}
.right-header{
    box-sizing: border-box;
    height: 45px;
    display: flex;
    align-items: center;
}
input{
    padding: 0;
    border-radius: 3px 0 0 3px;
    width: 230px;
    height: 100%;
    padding: 16px;
    font-size: 14px;
    border: 1px solid var(--secondary-color);
    background-color: #E9FBF5;
    box-sizing: border-box;
    outline: none;
}
input::placeholder{
    font-style:italic;
    font-weight: 300;
}
div .searchBtn{
    border-radius: 0 3px 3px 0;
    width: 50px;
    height: 100%;
    background-color: var(--secondary-color);
    margin-right: 20px;
    border: none;
}
div .search-icon{
    font-size:16px ;
    color: white;
    font-weight:bolder;
}
div .subscribe{
    padding: 0 40px;
    height: 100%;
    background-color: var(--secondary-color);
    color: white;
    outline: none;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
}
label{
    display: none;
}
/* #endregion */


/* #region Bottom Header */
.bottom-header{
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: #E9FBF5;
    width: 100%;
    height: 40px;
    position: relative;
}
.bottom-header a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left:5px;
}
.bottonLinkCom{
    display: flex;
    margin-right: 30px;
    align-items: center;

}
.icon{
    margin-left: 5px;
    transition: transform 0.3s;
}

.dropdown:hover .icon{
    transform: rotate(180deg);
}

/* #endregion */

/* #region Dropdown Menu */
.dropdown{
    position: relative;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 32px;
}

.dropdown-menu{
    position: absolute;
    top: 40px;
    right: 50%;
    transform: translateX(50%);
    width: 676px;
    height: 310px;
    background-color: white;
    display: none;
    padding: 34px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
}

.dropdown-menu .dropdown-menu-item{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--primary-color);
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown-menu .dropdown-menu-item:hover{
    background-color: var(--secondary-color-light);
}

.dropdown-menu .dropdown-menu-item > :first-child{
    background-color: var(--primary-color-light);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.dropdown-menu .dropdown-menu-item img{
    width: 26px;
    height: auto;
    transition: all 0.2s;
}

.dropdown-menu .dropdown-menu-item:hover img{
    width: 23px;
    height: auto;
}
/* #endregion */

/* #region Bloglist index*/
.blog-title-large {
    font-size: 32px;
    margin-top: 70px;
    color: var(--primary-color);
    font-weight:bold;
    padding: 0 20px;
}
.blog-title-semilarge {
    font-size: 28px;
    color: var(--primary-color);
    font-weight:bold;
}
.blog-title-medium {
    font-size: 24px;
    color: var(--primary-color);
    font-weight:bold;
}
.blog-title-small {
    padding-left: 25px;
    font-size: 20px;
    color: var(--primary-color);
}
.line{
    width: 100%;
    height: 3px;
    margin-top: 12px;
    margin-bottom: 40px;
    background-color: #F2F2F2;
}
/* #endregion */

/* #region Cards Container */
.card-con-flex{
    display: grid;
    justify-content: space-between;
    grid-template-columns:  auto auto auto;
    gap: 10px;
    padding: 20px;
    width: 100%;
}
.card-container{
    width:400px;
    margin-bottom: 70px;
}
.card-of-blog{
    width: 399px;
    height: 314px;
    background-color: var(--thrid-color);
    border: 1px solid #AEDBCB;
}
.date-of-blog{
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    margin: 15px 0;
}
/* #endregion */

/* #region Subscribe Us */

.subscribe-us-con{
    display: flex;
    justify-content: center;
}

.stay-tune-con{
    position: relative;
}

.stay-tune-con h1{
    margin-top: 130px;
    color: var(--primary-color);
    font-weight: bolder;
}
.stay-tune-con p{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    margin: 25px 0;
}
.input-field{
    position:relative ;
}
.stay-tune-con input{
    width: 500px;
    height: 65px;
    padding-left: 80px;
    font-size: 20px;
}
.stay-tune-con input::placeholder{
    color: var(--secondary-color);
    font-weight: 500;
}
.envelope{
    position: absolute;
    left: 20px;
    top: 15px;
}
.submit{
    margin-top: 25px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    width: 270px;
    height: 65px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
/* #endregion */

/* #region Footer */
.footer-con{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 125px;
    color: white;
}
.footer-con h2{

    font-size: 24px;
    margin-right: 5vw;
    cursor:default;
}
.right-footer a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight:900;
    font-size: 20px;
    margin: 0 30px;
}
/* #endregion */



/* #region BLOG PAGE*/
.bread-crumb{
    display: flex;
    align-items: center;
    padding: 20px;
}
.bread-crumb img{
   padding-right: 10px;
   text-align: center;
}
.blog{
    color: var(--secondary-color);
    border-bottom: 1px solid;
}
.blog-date{
    margin-top: 5px;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #444444;
}
.content-container{
    margin: 20px;
    box-sizing: border-box;
    display: flex;
}
.latest-post-con{
    border-bottom: 1px solid var(--secondary-color);  
    padding-bottom: 20px;  
    margin-bottom: 35px;
}
.blog-small-con{
    display: flex;
    margin: 15px 0;
}
.blog-image-large{
    background-color: #D9D9D9;
    height: 520px;
}
.blog-image-small{
    background-color: #D9D9D9;
    height: 70px;
    width: 115px;
}
.blog-text{
    margin-top: 20px;
    margin-bottom: 70px;
    line-height: 35px;
    text-align: justify;
    font-size: 16px;
}
.left-content{
    margin-right: 50px;
}
.right-content{
    width:90%;
}
.current-title{
    border-bottom: 2px solid var(--secondary-color);
}
.advertisement{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-weight: bold;
    margin: 25px 0;
    height: 215px;
    background-color: var(--primary-color-light);
}

/* #endregion */


/* #region Featured posts */
.featured-post{
    padding-left: 20px;
}
/* #endregion */